.board {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.board img {
    width: 100%; 
    display: block;
}
.bakground {
    width: 100%;
    position: absolute;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.row {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    z-index: 1;

    button{
        width: 90%;
    }
}
.card {
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
}
.center {
    position: relative;
    justify-content: center;
    color: white;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    width: 10%;
}
.rounded-img {
    border-radius: 10px;
}

button {
    display: flex;
    background-color: transparent;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    justify-content: center;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, opacity 0.3s;
    border-bottom: 1px solid transparent;
}
button.bordered-box {
    border: 1px solid white;
}

button:hover {
    background-color: rgba(85, 85, 85, 0.4);
    color: white;
}