<div id="party" class="board waiting" [style.display]="phase == 'lobby' ? 'block' : 'none'">
    
    <div class="hero">
        <img src="assets/busfahrer.webp" alt="hero" class="rounded-img bakground">
        
        <div class="hero-text bordered-box">
            <h1>Player: {{player}}</h1>
            
            <div class="centered-list">
                <ul *ngFor="let name of getPlayerNames()">
                    {{ name }}
                </ul>
            </div>

            <button (click)="startGame()" class="custom-button bordered-box">
                Start the Game
            </button>
        </div>
    </div>

</div>

<div id="party"  class="board qualifying" [style.display]="phase == 'qualifying' ? 'block' : 'none'">

    
  <div class="board">
    <img src="assets/busfahrer.webp" alt="Background" class="background-image" />
    
    <div class="overlay">
      <div class="player-panel">
        <h2 id="player-name">{{player}}</h2>
        <button class="bordered-box" aria-label="Draw a card">
            Higher
        </button>
        <button class="bordered-box" aria-label="Draw a card">
            Lower
        </button>
      </div>

      <div class="card-display">
        <img src="assets/card.png" alt="Current card" id="current-card" />
      </div>
    </div>
  </div>

</div>

<div id="party"  class="board" [style.display]="phase == 'pyramid' ? 'block' : 'none'">

    
    <p>pyramid works!</p>



</div>

<div id="party"  class="board" [style.display]="phase == 'bus' ? 'block' : 'none'">

    
    <p>bus works!</p>



</div>