.waiting{
    .hero {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        overflow: hidden;
    }

    .hero img {
        width: 100%; 
        max-height: none;
        display: block;
    }

    .hero-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-align: center;
        background: rgba(0, 0, 0, 0.6);
        padding: 20px;
        border-radius: 10px;
        width: 40%;
        height: 30%;
    }

    .bordered-box {
        border: 1px solid white;
        padding: 10px;
    }

    .rounded-img {
        border-radius: 10px;
    }

    .blurred-bg {
        filter: blur(2px);
    }

    .custom-button {
        display: inline-block;
        text-transform: uppercase;
        padding: 14px 20px;
        background-color: rgba(0, 0, 0, 0.6);
        color: white;
        text-decoration: none;
        font-size: 1rem;
        text-align: center;
        border-radius: 4px;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out, opacity 0.3s;
        border-bottom: 1px solid transparent;
    }
    .custom-button.bordered-box {
        border: 1px solid white;
    }

    .custom-button:hover {
        background-color: rgba(85, 85, 85, 0.4);
        color: white;
    }
    ul {
        color: white;
        text-decoration: none;
        transition: 0.3s ease-in-out;
        border-bottom: 1px solid transparent;
        list-style-type: none;
        text-align: left;
    }
    .centered-list {
        height: 50%;
        list-style: none;
        padding: 0;
        text-align: center;
    }
}

.qualifying{
    .player-name {
        position: absolute;
        top: 20px;
        left: 20px;
        color: white;
        background: rgba(0, 0, 0, 0.5);
        padding: 10px 15px;
        border-radius: 8px;
        font-size: 1.2rem;
        font-weight: bold;
        z-index: 2;
    }
    .board {
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }

    .background-image {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 0;
    }

    .overlay {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        padding: 1rem;
        flex-wrap: wrap;
    }

    .player-panel {
        width: 100%;
        max-width: 200px;
        background: rgba(0, 0, 0, 0.6);
        border-radius: 12px;
        padding: 20px;
        text-align: center;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        margin: 0 0 8px 0;
    }
    .card-display {
        width: 80%;
        max-width: 200px;
        border-radius: 10px;
        padding: 16px;
        text-align: center;
        color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 0 8px 0;
    }
    .choice-panel {
        border-radius: 12px;
        padding: 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
    }

    .deck-icon {
        width: 60px;
        height: auto;
    }

    button {
        margin-top: 10px;
        background-color: transparent;
        color: white;
        font-size: 1rem;
        border-radius: 4px;
        border: none;
        cursor: pointer;
        transition: transform 0.2s ease-in-out;
    }

    button.bordered-box {
        border: 1px solid white;
        padding: 10px;
    }

    button:hover {
        transform: scale(1.1);
    }

}

.pyramid {
    .board {
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }
    .player-name {
        position: absolute;
        top: 20px;
        left: 20px;
        color: white;
        background: rgba(0, 0, 0, 0.5);
        padding: 10px 15px;
        border-radius: 8px;
        font-size: 1.2rem;
        font-weight: bold;
        z-index: 2;
    }
    .background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 0;
        border-radius: 10px;
    }
    .player-name {
        position: absolute;
        top: 20px;
        left: 20px;
        color: white;
        background: rgba(0, 0, 0, 0.5);
        padding: 10px 15px;
        border-radius: 8px;
        font-size: 1.2rem;
        font-weight: bold;
        z-index: 2;
    }
    .pyramid-container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1;
        height: 100%;
        gap: 10px;
    }
    .pyramid-row {
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    .pyramid-row img {
        width: 120px;
        height: auto;
        border-radius: 30px !important;
        display: block;
    }

    button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        transition: transform 0.2s;
        padding: 0;
        display: inline-block;
    }

    button:hover {
        transform: scale(1.05);
    }

    button img {
        width: 120px;
        height: auto;
        border-radius: 6px;
    }

    .bordered-box{
        margin-top: 15px;
        background-color: transparent;
        color: white;
        font-size: 1rem;
        border-radius: 4px;
        border: none;
        cursor: pointer;
        transition: transform 0.2s ease-in-out;
        border: 1px solid white;
        padding: 10px;

        :hover {
            transform: scale(1.1);
        }
    }
}

.bus{
    .board {
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }

    .background-image {
        position: absolute;
        width: 105%;
        height: 105%;
        object-fit: cover;
        z-index: 0;
    }

    .overlay {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        padding: 1rem;
        flex-wrap: wrap;
    }

    .player-panel {
        width: 100%;
        max-width: 200px;
        background: rgba(0, 0, 0, 0.6);
        border-radius: 12px;
        padding: 20px;
        text-align: center;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        margin: 10px;
    }
    .card-display {
        width: 80%;
        max-width: 240px;
        border-radius: 32px;
        padding: 16px;
        text-align: center;
        color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 6px;
    }
    .choice-panel {
        border-radius: 12px;
        padding: 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
    }

    .deck-icon {
        width: 60px;
        height: auto;
    }

    button {
        margin-top: 10px;
        background-color: transparent;
        color: white;
        font-size: 1rem;
        border-radius: 4px;
        border: none;
        cursor: pointer;
        transition: transform 0.2s ease-in-out;
    }

    button.bordered-box {
        border: 1px solid white;
        padding: 10px;
    }

    button:hover {
        transform: scale(1.1);
    }

}

.modal{
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Dark transparent overlay */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.modal-content {
    width: 30%;
    left: 35%;
    top: 30%;
    padding: 20px;
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
    
    button {
        background: black;
        color: white;
        padding: 14px 20px; 
        border: none;
        cursor: pointer;
        width: 40%;
        border-radius: 4px;
        transition: opacity 0.3s;
        border-bottom: 1px solid transparent;
    }
    
    button:hover {
        background-color: rgba(39, 39, 39, 0.4);
    }

    row {
        width: 100%;
        flex-direction: column
    }
    section{
        width: 80%
    }

}
span.close {
    position: absolute;
    top: 5%;
    right: 5%;
    color: black;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover, .close:focus {
    color: red;
}

img[src$=".png"], img[src$=".jpg"]{
        width: 360px;
        border-radius: 69px;
        padding: 16px;
}