<footer class="footer"> 
    <div class="footer-container">
       
        <div class="footer-section">
            <h4>Über Busfahrer Co</h4>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/">Philosophie</a></li>
            
            </ul>
        </div>

        <div class="footer-section">
            <h4>INFOS</h4>
            <ul>
                <li><strong>Öffnungszeiten:</strong><br>Mo-Sa 10:00-23:00 Uhr</li>
                <li><strong>Adresse:</strong><br>Wuff Wuff 42, 53121  Köln</li>
              
            </ul>
        </div>
    </div>

    <hr class="footer-line" />

    <div class="footer-bottom">
        <p>Powered by <a href="/">Busfahrer</a></p>
    </div>
</footer>
