<footer class="footer"> 
    <div class="footer-container">
       
        <div class="footer-section">
            <h2>Über das Team</h2>
            <ul>
                <li><a href="https://www.linkedin.com/in/zhi-yang-fang-48a541286/">Yang - WebDev & Architect </a></li>
                <li style="height: 10px; border: none; background: none;"></li>
                <li><a href="https://www.linkedin.com/in/daniel-sankin/">Daniel - PM & WebDev </a></li>
                <li style="height: 10px; border: none; background: none;"></li>
                <li><a href="https://www.linkedin.com/in/henri-prenzel-03551b228/">Henri - PO & Testmanager</a></li>
                <li style="height: 10px; border: none; background: none;"></li>
            </ul>
        </div>

        <div class="footer-section">
            <ul>
                <li><h2><strong>Maximalster Spielspaß mit mindestens 3 Spielern!</strong></h2>
                <br><a href="https://ddad.de/" target="_blank" rel="noopener">don't drink and drive.</a></li>
                <li><a href="imprint/">Impressum</a></li>
            </ul>
        </div>
    </div>

    <hr class="footer-line" />

    <div class="footer-bottom">
        <p>Powered by <a href="https://github.com/Fang-Telekom/busfahrer" target="_blank" rel="noopener">Busfahrer</a></p>
    </div>
</footer>
