<div class="sticky-header">
    <div class="row" style="align-items: center;">
    
        <div style="display: flex; align-items: center; justify-content: center; width: 100%; padding-left: 2cm;">
            <img src="assets/logo.jpg" alt="Logo" style="height: 125px; margin-right: 1px; width: 100px;">
            <h1 style="z-index: 2; display: inline-block; vertical-align: middle; margin: 0 16px;">Busfahrer - Ass im Ärmel?</h1>
            <img src="assets/logo.jpg" alt="Logo" style="height: 125px; margin-right: 1px; width: 100px;">
        </div>
        <div style="margin-left: auto; transform: scale(0.9);">
            <nav aria-label="Main Navigation Links" style="display: flex; gap: 32px;">
            <a href="/" aria-label="Home"> Home </a>
            </nav>
        </div>

    <!-- Modal log -->
    <div id="log"  class="modal" [style.display]="modalVisible == 'log' ? 'block' : 'none'">
        <div style="position: relative" class="modal-content animate">
            <section>
                <h1>Login Form</h1>
                <span (click)="toggleModal(null)" class="close" title="close Modal">&times;</span>
            </section>
            <section>
                <form action="/" method="post">
                    <div class="row" style="flex-direction: column">

                        <label for="name"><b> Benutzername </b></label>
                        <input type="text" placeholder="Benutzername" name="name" #username>
                        <label for="pass"><b> Passwort </b></label>
                        <input type="password" placeholder="Passwort" name="pass" #password>
                        <button type="button" style="color: white;" class="modalBtn" (click)="verify(username.value, password.value)"> Login </button>

                    </div>
                    <div class="row">
                        <button type="button" style="margin:auto; width: 40%;" (click)="toggleModal(null)"> Cancel </button>
                    </div>
                </form>
            </section>
        </div>
    </div>
    <!-- End of Modal log -->