.hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.hero img {
    width: 100%; 
    max-height: none;
    display: block;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    width: 70%;
}

.bordered-box {
    border: 1px solid white;
    padding: 10px;
}

.rounded-img {
    border-radius: 10px;
}

.blurred-bg {
    filter: blur(2px);
}

.custom-button {
    display: inline-block;
    text-transform: uppercase;
    padding: 14px 20px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    text-decoration: none;
    font-size: 1rem;
    text-align: center;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, opacity 0.3s;
    border-bottom: 1px solid transparent;
}
.custom-button.bordered-box {
    border: 1px solid white;
}

.custom-button:hover {
    background-color: rgba(85, 85, 85, 0.4);
    color: white;
}

.modal{
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Dark transparent overlay */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.modal-content {
    width: 30%;
    left: 35%;
    top: 30%;
    padding: 20px;
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
    
    button {
        background: black;
        color: white;
        padding: 14px 20px; 
        border: none;
        cursor: pointer;
        width: 40%;
        border-radius: 4px;
        transition: opacity 0.3s;
        border-bottom: 1px solid transparent;
    }
    
    button:hover {
        background-color: rgba(39, 39, 39, 0.4);
    }

    row {
        width: 100%;
        flex-direction: column
    }
    section{
        width: 80%
    }

}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid black;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 4px;
}

span.close {
    position: absolute;
    top: 5%;
    right: 5%;
    color: black;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover, .close:focus {
    color: red;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
    from { -webkit-transform: scale(0); }
    to { -webkit-transform: scale(1); }
}

@keyframes animatezoom {
    from { transform: scale(0); }
    to { transform: scale(1); }
}